# App
PORT=4200
NODE_ENV=development

# MongoDB
MONGO_USER=your_mongo_user
MONGO_PASSWORD=your_mongo_password
MONGO_DB=travel_db
MONGO_URI=mongodb://your_mongo_user:your_mongo_password@mongo:27017/travel_db?authSource=admin

# MinIO
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=your_minio_secure_password_change_in_prod
MINIO_BUCKET=travel-files
MAX_FILE_SIZE=10485760

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password
CACHE_TTL_DEFAULT=300

# RabbitMQ
RABBITMQ_USER=student
RABBITMQ_PASS=student_secure_rabbit_pass_change_in_prod
QUEUE_USER_REGISTERED=wp.auth.user.registered

# SMTP
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=your_email@yandex.ru
SMTP_PASS=your_app_password_here
SMTP_FROM=your_email@yandex.ru
SMTP_SECURE=true

# JWT Secrets
JWT_ACCESS_SECRET=your_jwt_access_secret_min_32_chars
JWT_REFRESH_SECRET=your_jwt_refresh_secret_min_32_chars
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# OAuth (Yandex)
YANDEX_CLIENT_ID=your_yandex_client_id
YANDEX_CLIENT_SECRET=your_yandex_client_secret
YANDEX_CALLBACK_URL=http://localhost:4200/auth/oauth/yandex/callback

# Frontend
FRONTEND_URL=http://localhost:3000